/Session/session/nbproject/private/
/Session/session/build/
/Cookies/target/
/ConvertToLowerApp/target/
/csv/nbproject/private/
/csv/build/
/csvO/target/
/demo/target/
/JavaApplication67/nbproject/private/
/JavaApplication67/build/
/scanner/nbproject/private/
/test/nbproject/private/
/test/build/
/Session/sessionTracking/build/
/Session/sessionTracking/dist/
/JSP/JSTL/JSTLFunctions/nbproject/private/
/JSP/JSTL/JSTLFunctions/build/
/JSP/JSTL/JSTLFunctions/dist/
/JSP/JSTL/func/target/
/JSP/JSTL/multiLingual/multiLingual/target/
/Session+Cookies/CaloriesIntakeApp/target/
/Session+Cookies/sessionTracking/build/
/Session+Cookies/sessionTracking/dist/
/Session+Cookies/sessionTracking/nbproject/private/
/Session+Cookies/cookies/Cookies/target/
/JSP and Servlet/Servlet/ConfigurationParam/target/