 form {max-width: 400px; padding: .5em; margin: .5em;} 
          
          ul{
              
             list-style-type: none; 
             margin: 0;
             padding: 0;
             overflow: hidden;
             max-width: 370px;
             
             
              
          }
          li{
              float: right;
          }
          li a{
              display: block; 
               color:black; 
               text-align: center; 
               text-decoration: none;
               padding: 14px 16px;
               
          
          }
            